* {
    font-family: sans-serif;
}

h1 {
    background-color: lightskyblue;
    text-align: center;
    font-size:36px ;
    color: white;
}

ul,
ol {
    font-size: 26px;
    color: black;
}

li {
    color: black;
}

h2 {
    color: white;
    background-color: grey;
    text-align: center;
}

.return {
    text-align: center;
    font-family: monospace;
    color: red;
    font-size: 26px;
}

p {
    font-size: 26px;
}